.action-vew{
    min-height: 95vh;
    background: beige;
}

.action-vew textarea{
    min-height: 95vh;
}

#actions-list button{
    width: 100%;
}

.item-actions-list{
    background: lightgrey;
    border-bottom: solid black;
    cursor: pointer;
}
