<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<script src="https://unpkg.com/vue"></script>

<div id="app" class="container-fluid">

    <h5>initAction</h5>
    <autre-component></autre-component>

    <mon-component></mon-component>

    <p>seen : {{control.seen}}</p>

    <div v-for="(action, index) in actions.receipt" >{{ action.name }}</div>
    <br>
    <span>---------------------------------------------------</span>
    <div v-for="(action, index) in actions.todo" >{{ action.name }}</div>

</div>


<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="js/actions.js"></script>
<script src="js/components.js"></script>
<script src="js/main.js"></script>
</body>
</html>