<p xmlns="">{{action.name}} {{action.content}}</p>

<form [formGroup]="actionForm" (ngSubmit)="onSubmitForm()">
  <input type="text" class="form-control" formControlName="name">
  <hr>

  <div class="row tags">
    <select
      (change)="inputChange($event)"
      class="col-sm-2"
      formControlName="location">
      <option
        *ngFor="let location of locations | async"
              [ngClass]="{'header-option': !location.value}"
        value="{{location.value}}"
      >{{location.name}} / {{location.value}}</option>
    </select>

    <input placeholder="valuable" type="text" class="col-sm-2" formControlName="valuable">
  </div>

  <hr>
  <textarea type="text" class="form-control" rows="5" formControlName="content"></textarea>

  <button type="submit" class="btn btn-primary">Soumettre</button>
</form>


